{% extends 'blog/base.html' %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class='col-lg-2'>
            <a href="{% url 'blog' %}">&larr; Back</a>
        </div>
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ post.title }}</h1>

            <!-- Author -->
            <p class="lead">
                by {{ post.author }}
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{ post.published_date }}</p>

            <hr>

            <!-- Post Content -->
            <p>{{ post.text|linebreaksbr }}</p>

            <hr>
{% endblock %}